<%= form_with(model: withheld_tax) do |form| %>
  <% if withheld_tax.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(withheld_tax.errors.count, "error") %> prohibited this withheld_tax from being saved:</h2>

      <ul>
        <% withheld_tax.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :income_withheld, style: "display: block" %>
    <%= form.number_field :income_withheld %>
  </div>

  <div>
    <%= form.label :iva_withheld, style: "display: block" %>
    <%= form.number_field :iva_withheld %>
  </div>

  <div>
    <%= form.label :isr_withheld, style: "display: block" %>
    <%= form.number_field :isr_withheld %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
