<div id="<%= dom_id withheld_tax %>">
<p>
    <strong>Date:</strong>
    <%= withheld_tax.date %>
  </p>

  <p>
    <strong>Income Withheld:</strong>
    <%= withheld_tax.income_withheld %>
  </p>

  <p>
    <strong>IVA Withheld:</strong>
    <%= withheld_tax.iva_withheld %>
  </p>

  <p>
    <strong>ISR Withheld:</strong>
    <%= withheld_tax.isr_withheld %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= withheld_tax.note %>
  </p>
</div>
