<div id="<%= dom_id expense %>">
  <p>
    <strong>Section:</strong>
    <%= expense.section %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= expense.expense_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense.amount %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= expense.notes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= expense.date %>
  </p>

</div>
